*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(./img/grandes-estantes-biblioteca-modernos-libros-ia-generativa_123447-16170.jpg) no-repeat center center/ cover; 
}